html{
    height: 800px;
}
html, body, h1, div,label, input,form, a, h2, h3{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}


html{
    display: block;
    font-size: 60%;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
    background-color: black;
    display: block;
    margin: 0;

}
.head{
    padding: 0 10px;
    background-color: #283e4a;
    display: block;
}
div{
    display: block;
}

.head .head-design{
    display: flex;
    -webkit-box-pack: justify;
    width: 100%;
    margin: 0 auto;
}
.heading-design{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
h1{
    font-size: 25px;
    font-weight: bold;
    -webkit-margin-before: 0.5px;
    -webkit-margin-after: 0.5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
.image{
    transition: opacity 0.3s;
    display: inline-block;

}
.login{
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    -webkit-box-align: start;
    -webkit-box-pack: end;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    float: right;


}
.login label{
    border: 0 ;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px ;
    overflow: hidden;
    padding: 0 ;
    position: absolute ;
    white-space: nowrap ;
    text-align: right;
    width: 1px ;
}
.login input{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: black;
    display: inline-block;
    width: 216px;
    height: 32px;
    margin: 8px 7px 8px 0;
    padding: 0 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 2px;
    
}
input{
    vertical-align: middle;
    cursor: text;
}
input[type="submit"]{
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    font-weight: 300;
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 8px 0 0;
    padding: 0 20px;
    background-color: #283e4a;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}
.login .forget-password{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: black;
    display: flex;
     -webkit-box-align: center;
    align-items: center;
    color: lightgray;
    margin: 15px 10px 15px 20px;
}
a{
    text-decoration: none;
    background-color: #283e4a;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    cursor: pointer;
    display: inline-block;
}
.container{
    background: url(../images/background\ image.jpg);
    background-size: 100%;
    height: 75%;;
}
.container-design{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    min-width: 800px;
    
    padding: 0 12px;
}
.registration-form{
    width: 500px;
    height: 94%;
    padding: 0 0 24px;
    margin: 20px auto;
    border-radius: 2px;
    background: #e8eff9;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    flex-flow: row wrap;
    justify-content: left;
}
.registration-form .heading-1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 200;
    color: black;
    flex: 100%;
    background: whitesmoke;
    text-align: center;
    padding: 16px 32px 8px 32px;
    
}
h2 h3{
    -webkit-margin-before: 1px;
    -webkit-margin-after: 1px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.registration-form .heading-2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    flex: 100%;
    position: relative;
    z-index: 1;
    background: whitesmoke;
    text-align: center;
    padding: 0 8px 16px;
    border-bottom: 0.5px solid #00000026;
}
.text-format{
    -webkit-box-direction: normal;
}
.container .registration-form label{
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: black;
    flex: 100%;
    min-width: 0;
    vertical-align: middle;
    margin: 15px 15px;
}
.text-format input[type="text"], .text-format input[type="email"], .text-format input[type="password"] {
    padding: 0 5px;
}
.text-format input{
    display: flex;
    padding: 30px;
    width: 80%;
    height: 28px;
    background: white;
    border: 1px solid #00000026;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    color: black;
    flex: 100%;
    vertical-align: middle;
    min-width: 0;
    margin: 15px 15px;
}
.registration-form input[type="submit"] {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: white;
    display: inline-block;
    width: auto;
    height: 32px;
    margin: 5px 0 0;
    padding: 0 10px;
    background-color: #283e4a;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 25%;
    width: 50%;
}
section{
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
    color: darkgray;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
section a{
    text-decoration: none;
    background-color: #e8eff9;
    color: darkgray;
    cursor: pointer;
    font-weight: bold;
}
.lower{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #3d4042;
    padding: 30px 0 0;
    width: 100%;
    height: 130px;
    background: #44474a;
}
.heading-3{
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    margin-right: 8px;
    margin-top: 0;
    color: #c7c2c2a8;
}
.lower-form input[type="text"]{
    background: white;
    color: black;
    border: 1px solid black;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 5px;
    width: 250px;
    margin-right: 5px;
    height: 25px;
    line-height: 17px;
    font-weight: 300;
    box-shadow: none;
    border-radius: 2px;
    padding: 0 10px;
    outline: 0;
    

}
.button{
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    border: black;
    border-radius: 2px ;
    font-family: inherit;
    display: inline-block;
    font-size: 20%;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    cursor: pointer;
}
.heading-4{
    display: inline;
    font-size: 15px;
    line-height: 8px;
    color: #c7c2c2a8;
    font-weight: 500;
    
}
.directory ol{
    display: inline-block;
}
.directory ol li{
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
}
.directory li{
    display: inline;
    padding-left: 6px;
}
.directory li a {
    display: inline;
    font-weight: 600;
    text-decoration: none;
}
.directory a{
    display: inline;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: #0c92da;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.directory .country-search{
    border-left: 1px solid #f3e0e081;
    margin-left: 12px;
    padding-left: 12px;
    color: #f3e0e081;
}
.directory li:last-of-type a{
    color: #e8eff9;
    font-size: 100%;
    font-weight: bold;
}









*{
    box-sizing: border-box;
}